<h1><center> DS200 - Lab 2: Pandas </center></h1>

## Amazon Purchases Dataset

In this lab, you will be given a portion of preprocessed e-commerce data (purchases) from a famous e-commerce company called Amazon! 

Try your best to answer the following questions by using Pandas. Most of the questions can be approached with different methods. You are welcomed to provide different solutions to show your understanding to the subject. 

Though all of these questions can be answered with one line of code, feel free to throw in multiple lines if needed.

____
### Q1. Import Pandas and Numpy, and read in the provided dataset from this [link](https://raw.githubusercontent.com/BlueJayADAL/DS200/master/datasets/amazon.csv). Use `purchases` as the name of the DataFrame.

In [13]:
import numpy as np
import pandas as pd

In [15]:
url = 'https://raw.githubusercontent.com/BlueJayADAL/DS200/master/datasets/amazon.csv?raw=true'

In [16]:
purchases = pd.read_csv(url)

### Q2. Show the first 6 rows of the DataFrame purchases.

In [187]:
purchases.head(6)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
CC Exp Date,,,,,,,,,,,,,
20-Feb,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011930000000000,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
18-Nov,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337760000000000,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
19-Aug,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675958000000,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
24-Feb,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011580000000000,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
25-Oct,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011460000000000,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
25-Jul,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246200000000,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15

### Show the basic information for each column.

In [18]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### Show the the basic statistics of all the numeric columns.

In [19]:
purchases.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699940e+14        548.000000       50.505000
75%    4.492295e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

### Q3. From the DataFrame, figure out the average `Purchase Price` of all orders.

In [21]:
purchases['Purchase Price'].mean()

50.34730200000025

### In the same way, figure out the highest and lowest `Purchase Price`.

In [22]:
# Highest
purchases['Purchase Price'].max()

99.99

In [23]:
# Lowest
purchases['Purchase Price'].min()

0.0

### Q4. To understand customers' language preference, we need to find out how many different languages are being used on Amazon.

In [24]:
purchases['Language'].nunique()

9

### Then find out how many customers use English 'en' as their language when shopping Amazon.

In [42]:
purchases[purchases['Language']=='en'].count()['Language']

1098

### Q5. To drop advertisements to Amazon customers more effectively, we want to know which job title spends the most on Amazon.

In [71]:
purchases.groupby(by='Job')['Purchase Price'].sum().idxmax()

'Dietitian'

### Let's compile a list of emails (in Python list format) for all customers that work as a `Dietitian`.

In [74]:
purchases[purchases['Job']=='Dietitian']['Email'].tolist()

['garyporter@woods-nunez.biz',
 'cookamanda@gmail.com',
 'kevinrodriguez@yahoo.com',
 'mitchellsarah@yahoo.com',
 'thomasxavier@hotmail.com',
 'gordonamanda@yahoo.com',
 'cduncan@gmail.com',
 'stewartbrianna@kelly-castaneda.com',
 'craig21@rodriguez.info',
 'rcaldwell@yahoo.com',
 'samuel33@miranda-nelson.com',
 'qwhite@hotmail.com',
 'james40@king-allen.com',
 'adaniels@williams-tate.info',
 'jennifer36@carpenter-bennett.com',
 'kylecarlson@harris.com',
 'jeannehardin@sandoval.com',
 'thunter@hotmail.com',
 'anthony56@hotmail.com',
 'michael73@robles-garza.org',
 'matthewallen@hotmail.com',
 'christopher44@king.com',
 'heather85@smith-gordon.com',
 'owhite@hotmail.com',
 'pgordon@gmail.com',
 'jacob22@rodriguez.net']

### Q6. To balance the network traffic on Amazon servers, we need to know how many customers like to shop during the morning time (AM) and how many during afternoon time (PM)?

In [180]:
purchases['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### Do people tend to spend more in the morning or afternoon?

In [181]:
purchases.groupby(by='AM or PM').sum()['Purchase Price']

AM or PM
AM    247519.87
PM    255953.15
Name: Purchase Price, dtype: float64

### Q7. American Express detected a suspicious purchase made by the credit card number `30073500000000`. Can you help to find the person's home address and IP address?

In [134]:
fraud = purchases[purchases['Credit Card']==30073500000000]
fraud

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
820,USNV Young\nFPO AP 03546-5472,66 FN,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_8_7; r...,"Gaines, Roberts and Weber",30073500000000,20-Apr,911,Voyager,dawn40@mora.info,English as a second language teacher,182.206.236.57,en,75.43

In [141]:
fraud[['Address', 'IP Address']]

                           Address      IP Address
820  USNV Young\nFPO AP 03546-5472  182.206.236.57

### American Express normally charges more from the e-commerce companies than any other credit card providers. In this task, we need to help Amazon find how many customers paid with `American Express` credit card *and* made a purchase above $90 ?

In [146]:
amex = purchases[purchases['CC Provider']=='American Express']

In [147]:
abv = amex['Purchase Price']>90

In [151]:
amex[abv].count()['Credit Card']

86

### Q8. Amazon will automatically send reminding emails to a customer if his/her credit card is expiring soon. Let's study how many customers' credit cards will expire in 2018? You need to use `apply()` method with a lambda expression to obtain the credits.

In [190]:
(purchases['CC Exp Date'].apply(lambda date: date[:2]) == '18').sum()

995

### Q9. To partner with the email service providers, Amazon wants to find out the top 5 most popular email domain names (e.g. gmail.com, icloud.com, etc.). You need to use `apply()` method with a lambda expression to obtain the credits.

In [192]:
(purchases['Email'].apply(lambda email: email.split('@')[-1])).value_counts().head()

hotmail.com     1638
yahoo.com       1615
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

### Q10. Find the top 5 languages in terms of average `Purchase Price`.

In [193]:
purchases.groupby(by='Language')['Purchase Price'].mean().sort_values(ascending = False).head()

Language
el    51.555356
pt    51.215546
en    51.103015
de    50.271386
zh    50.161868
Name: Purchase Price, dtype: float64

# Great Job!