<h1><center>DS 200 - Lec3: Python for Data Science</center></h1>

Please note, this is not meant to be a comprehensive overview of Python or programming in general. A detailed Python programming tutorial can be found here: [The Python Tutorial](https://docs.python.org/3/tutorial/).

This notebook will just go through the basic topics in order:

* Data types
    * Integers
    * Floats
    * Strings
    * Booleans
    * Lists
    * Dictionaries
    * Tuples 
    * Sets
* Conditionals: if, elif, else statements
* Repetition: 
    * range()
    * for loops
    * while loops
* list comprehension
* functions
    * Regular functions
    * lambda expressions
* Useful python functions:
    * map
    * filter
    * reduce
____

## Section 1: Data types

### 1. Integer and float types

#### Exercise: Generate the results for the following expressions:

+ 1 + 10
+ 2 * 3
+ 2 ** 3
+ 1 / 2
+ 1 // 2
+ 5 % 2
+ (2 + 3) * (5 + 5)

In [6]:
1+10

11

In [7]:
2*3

6

In [8]:
2**3

8

In [9]:
1/2

0.5

In [10]:
1//2

0

In [11]:
5%2

1

In [12]:
(2+3)*(5+5)

50

### 2. Variable Assignment

* Variables have no type, type automatically assigned at runtime
* Variable names can not start with number or special characters, but underscore is acceptable

In [8]:
# Variable name can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### 3. Strings

* String can have either single quotes or double quotes. We use one over another if there there is a quote in the string.

In [15]:
'single quotes'

'single quotes'

In [16]:
"double quotes"

'double quotes'

In [17]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

In [18]:
'wrap lot\'s of other quotes'

"wrap lot's of other quotes"

#### String methods:
+ lower()
+ upper()
+ title()
+ count()
+ find()
+ format()
+ replace()
+ split()
+ ...

#### Exercise: given the following string, 1) change it to all lower cases; 2) change it to all capital cases; 3) extract out only the hash tag part from the tweet.

In [19]:
tweet = 'Go Eagles! #NFL'

In [24]:
tweet.lower()

'go eagles! #nfl'

In [25]:
tweet.upper()

'GO EAGLES! #NFL'

In [38]:
tweet[12:]

'NFL'

In [35]:
tweet.split('#')[1]

'NFL'

#### Printing strings

In [36]:
x = 'hello'

Notice the difference when outputting and printing from Jupyter notebook.

In [21]:
x

'hello'

In [22]:
print(x)

hello

You can index to a string using subscripts.

In [23]:
x[1]

'e'

Print a string with format.

In [24]:
num = 12
name = 'Sam'

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

No long need to worry the formatting to the exact the same order

In [26]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

#### String indexing and slicing

You can index a string with subscript and slice a string using the colon operator.

In [40]:
s = 'hello'

In [41]:
print (s[0])
print (s[0:])
print (s[:3])
print (s[1:3])

h
hello
hel
el

### 4. Booleans

#### Literals

In [29]:
True

True

In [30]:
False

False

#### Comparison Operators

In [42]:
1 > 2

False

In [43]:
1 < 2

True

In [33]:
1 >= 1

True

In [34]:
1 <= 4

True

In [47]:
1 == 1

True

In [44]:
'hi' == 'bye'

False

#### Logic Operators

In [37]:
(1 > 2) and (2 < 3)

False

In [38]:
(1 > 2) or (2 < 3)

True

In [39]:
(1 == 2) or (2 == 3) or (4 == 4)

True

#### Bitwise Operators

Instead of treating the operands as if they were single values, bitwise operators treat them as if they were a collection of bits, written in twos-complement binary.

```&       |        !        ^         <<         >>```

+ x << y:
    + Returns x with the bits shifted to the left by y places (and new bits on the right-hand-side are zeros). This is the same as multiplying x by 2**y.
+ x >> y: 
    + Returns x with the bits shifted to the right by y places. This is the same as //'ing x by 2**y.
+ x & y
    + Does a "bitwise and". Each bit of the output is 1 if the corresponding bit of x AND of y is 1, otherwise it's 0.
+ x | y
    + Does a "bitwise or". Each bit of the output is 0 if the corresponding bit of x AND of y is 0, otherwise it's 1.
+ ~ x
    + Returns the complement of x - the number you get by switching each 1 for a 0 and each 0 for a 1. This is the same as -x - 1.
+ x ^ y
    + Does a "bitwise exclusive or". Each bit of the output is the same as the corresponding bit in x if that bit in y is 0, and it's the complement of the bit in x if that bit in y is 1.

In [40]:
x = 4 # Binary form 100
y = 7 # Binary form 111

x & y # Result is 100 which is decimal 4.

4

### 5. Lists
* A sequence of elements
* Can be heterogeneous types
* Mutable.

In [41]:
lst = [1,2,3]
lst

[1, 2, 3]

In [42]:
nested_lst = ['hi',1,[1,2]]
nested_lst

['hi', 1, [1, 2]]

Lists are mutable.

In [43]:
nested_lst[0] = 'NEW'
nested_lst

['NEW', 1, [1, 2]]

Access individual element using subscript.

In [44]:
nested_lst[0]

'NEW'

In [45]:
nested_lst[2][1]

2

Obtain a subset using slicing.

In [46]:
nested_lst[1:]

[1, [1, 2]]

In [47]:
nested_lst[:1]

['NEW']

Difference between append, extend and concatenation +

In [48]:
# append takes a singleton as an argument
nested_lst.append(['a', 'b'])
nested_lst

['NEW', 1, [1, 2], ['a', 'b']]

In [49]:
# extend takes a list as an argument
# operates my_list in place
nested_lst.extend(['c', 'd'])
nested_lst

['NEW', 1, [1, 2], ['a', 'b'], 'c', 'd']

In [50]:
# Concatetation + creats a new list
nested_lst = nested_lst + ['e', 'f']
nested_lst

['NEW', 1, [1, 2], ['a', 'b'], 'c', 'd', 'e', 'f']

#### Exercise: use indexing and slicing to grab the substring 'tar' from the given nested list

In [49]:
nest = [1,2,3,[4,5,['target']]]

In [59]:
nest[3][2][0][:3]

'tar'

### 6. Tuples

* Tuples are immutable (cannot mutate the elements)
* Tuples are useful for returning multiple values from functions

In [53]:
t = (1,2,3)

In [54]:
t[0]

1

#### Exercise: print 2, 4, 6 on its own line from the following list.

In [63]:
data = [(1,2), (3,4), (5,6)]

In [74]:
for tu in data:
    print(tu[1])

2
4
6

In [75]:
for (a,b) in data:
    print(b)

2
4
6

### 7. Dictionaries
* Not a sequence, therefore no subscripts.
* Use keys to access values.
* Dicts are mutable.
* Keys from a dict must be immutable.

In [76]:
d = {'key1':'item1','key2':'item2'}

In [77]:
d

{'key1': 'item1', 'key2': 'item2'}

In [78]:
d['key1']

'item1'

In [79]:
d = {'k1': {'innerkey': [1, 2, 3]}}

d['k1']['innerkey'][1]

2

#### Dictionary methods:
+ keys()
+ values()
+ items()

#### Exercise: given the following dictionary, count how many customers bought apple in their grocery.

In [93]:
supermarket = {'Andy': ['apple', 'beef', 'chicken'],
               'Branda': ['tomato', 'tea', 'bread', 'corn'],
               'Cindy': ['peach', 'apple', 'lobster'],
               'Dave': ['banana', 'beer']}

In [95]:
count_apples = 0
for grocery in supermarket.values():
    if 'apple' in grocery:
        count_apples+=1
print(count_apples)

2

### 8. Sets
+ Only allow the same element to appear once
+ Heterogeneous and mutable

In [63]:
s = {1, 2, "hello", "hello"}
s

{1, 2, 'hello'}

In [64]:
s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
s

{1, 2, 3}

In [65]:
s.add(5)
s

{1, 2, 3, 5}

#### Exercise: find the summation of all the unique values from the following list.

In [96]:
lst = [1,1,2,1,2,5,5,1,5]

In [102]:
sum(set(lst))

8

## Section 2: Conditionals

### if, elif, else statements

In [68]:
if 1 < 2:
    print('Yep!')

Yep!

In [69]:
if 1 < 2:
    print('Yep!')

Yep!

In [70]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [71]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [72]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## Section 3: Repetitions

### 1. range()

* A generator for numeric values
* Makes an iterable

In [73]:
# range is a generator - itself won't give you a list.

range(5)

range(0, 5)

What if you want a list from range(5)?

In [74]:
list(range(5))

[0, 1, 2, 3, 4]

range() is often used with a for loop.

In [75]:
for i in range(5):
    print(i)

0
1
2
3
4

### 2. for Loops

In [76]:
seq = [1,2,3,4,5]

In [77]:
for item in seq:
    print(item)

1
2
3
4
5

In [78]:
for i in range(len(seq)):
    print(seq[i])

1
2
3
4
5

#### Exercise: Given the following list, print each word out with its index on its own line.

In [103]:
sentence = ['Mary', 'had', 'a', 'little', 'lamb']

In [104]:
for i in range(len(sentence)):
    print(i, sentence[i])

0 Mary
1 had
2 a
3 little
4 lamb

### 3. while Loops

In [81]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## Section 4: list comprehension

* Using for loops to generate lists is cumbersome. 
* List comprehension is often using in DS field as a one-liner. 

#### Exercise: Given the list `lst` as follows, generate a new list `new_lst` that squared every element from lst. First using a for loop, then use list comprehension.

In [105]:
lst = [1,2,3,4]

In [107]:
# Use a for loop to generate the new_lst
new_list = []
for num in lst:
    new_list.append(num**2)
print(new_list)

[1, 4, 9, 16]

In [109]:
# Now use list comprehension
[num**2 for num in lst]

[1, 4, 9, 16]

## Section 5: Functions and Lambda

### 1. Functions

In [1]:
# Shift+Tab can show the docstring in Jupyter
def demo_func(in_str='demo'):
    """
    Demonstrate the barebone of a function.
    """
    return 'This is a ' + in_str

Calling the function just by name won't actually execute the function.

In [2]:
demo_func

To kick off a function, call the function with parenthesis.

In [3]:
print(demo_func())

This is a demo

In [4]:
print(demo_func('class'))

This is a class

In [5]:
print(demo_func(in_str='new param'))

This is a new param

### 2. lambda expressions
* Often used for small anonymous functions (used for only one time)

#### Exercise: write for a function named `squared` that takes a number and returns the squared version of it. The default argument number is 0.

In [10]:
def squared(num=0):
    """
    This function squares a number.
    """
    return num**2

In [11]:
# Test case for the function
squared(8)

64

Write for the lambda expression version of the previous function:

In [12]:
lambda num: num**2

You can assign names to a lambda expression so that it works like a regular function.

In [13]:
func = lambda num: num**2



func(6)

36

Lambda expressions can have more than one argument just like a function.

In [15]:
func2 = lambda num1, num2: num1 + num2




func2(3, 7)

10

## Section 6: Useful Python functions  

### 1. map(func, iterable)

#### Exercise: given the following list, return a new list that have every element squared.

In [17]:
seq = [1,2,3,4,5]

In [18]:
[num**2 for num in seq]

[1, 4, 9, 16, 25]

In [25]:
list(map(squared, seq))

[1, 4, 9, 16, 25]

In [26]:
list(map(lambda x: x**2, seq))

[1, 4, 9, 16, 25]

### 2. filter(func, iterable)

#### Exercise: given the above list `seq`, return only the items that are even.

In [27]:
list(filter(lambda x: x%2 == 0,seq))

[2, 4]

### 3. reduce(func, iterable) 

reduce() function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along. This function is defined in “functools” module.

Working :  

+ At first step, first two elements of sequence are picked and the result is obtained.
+ Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
+ This process continues till no more elements are left in the container.
+ The final returned result is returned and printed on console.

#### Exercise: sum all the numbers from list `seq` together.

In [28]:
from functools import reduce

reduce(lambda x,y: x+y, seq)

15

# Great Job!